.header_home {
    background-color: #1d75de;
    padding-bottom: 50px;
}

.texto {
    font-family: Helvetica, Arial, sans-serif;
    color: #e5e5e5;
    margin-left: 80px;
}

.btn {
    border-radius: 50px;
    height: 50px;
    width: 150px;
    margin-left: 80px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    margin-top: 25px;
}

.card {
    height: 30rem;
    width: 20rem;
}

.card-body {
    height: 30rem;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

.card-title {
    text-align: center;
}

.card-text {
    padding-left: 20px;
}

.texto-card {
    padding-left: 20px;
}

footer {
    color: #e5e5e5;
    margin-left: 60px;
    font-size: 10px;
    margin-top: 10px;
}

.texto-cab {
    font-family: Helvetica, Arial, sans-serif;
    color: #e5e5e5;
    margin-left: 60px;
    padding-top: 50px
}

.texto-header {
    font-family: Helvetica, Arial, sans-serif;
    color: #e5e5e5;
    margin-left: 60px;
    padding-top: 10px;
}

.button-header {
    margin-left: 60px;
    background-color: #1ed760;
    border: none;
    color: white;
    text-align: center;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    padding: 15px 50px;
}

.button-header:hover {
    opacity: 0.6;
}

.btn-inscrever-home {
    background: #1ed760;
    color:black;
    padding: 15px 50px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    margin-left: -10px;
    text-align: center;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
}

link {
    margin-bottom: 10px;
}

.btn-inscrever-home:hover {
    opacity: 0.6;
}