.card-playlist {
    padding-top: 10px;
    padding-left: 10px;
    width: 300px;
    height: 300px;
}

.card-title-playlist {
    padding-right: 90px;
    color: black;
    text-align: center;
}

.card-title-playlist:hover {
    color: #15883e;
}

.card-img-top {
    width: 250px;
    height: 250px;
    border-radius: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}